* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #e5e5e5;
  padding: 20px;
}

:root {
  --wrapper-color: #fff;
  --work-color: #fb6d3a;
  --description-color: #595959;
}

.sidebar {
  background: #1e2939;
  width: 370px;
  /*height: 1000px;*/
  padding: 40px 0;
}

.my-photo {
  width: 370px;
  height: 270px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  background-color: var(--wrapper-color);
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.about-me-container {
  padding: 110px 90px;
}

.contacts-container,
.soft-skill-container,
.tech-skill-container {
  margin-top: 60px;
  margin: 0 40px;
  color: var(--wrapper-color);
}

.contacts-title {
  color: var(--wrapper-color);
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  margin: 20px 0;
}

.conctacts-link-type {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: var(--wrapper-color);
}

.tech-skill-item {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--work-color);
  margin-left: 15px;
}

.tech-skill-text {
  color: var(--wrapper-color);
}
.profession {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 23px;
}

.name {
  font-weight: bold;
  font-size: 45px;
  line-height: 90px;
  margin-bottom: 25px;
}

.description {
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-top: 25px;
}

.info-container {
  margin-bottom: 30px;
}

.about-me-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  margin-bottom: 10px;
}

.projects-link,
.tech-name {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--description-color);
}

.project-item {
  font-weight: 700;
  margin-left: 20px;
}

.project-container {
  margin-bottom: 45px;
}

.profession-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.profession-company {
  color: var(--work-color);
}

.profession-time {
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  color: #706a6a;
}

.profession-duties {
  margin-top: 15px;
  margin-bottom: 30px;
  margin-left: 12px;
}

.profession-duties-title {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--description-color);
}

.dots {
  color: #bebebe;
  font-weight: 100;
}

.institute {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: var(--work-color);
  margin: 15px 0;
}

.facultet {
  margin-bottom: 5px;
}

/*icons*/

.telegram_icon,
.viber_icon,
.phone_icon,
.whatsup_icon {
  width: 18px;
  height: 18px;
  /*padding: 0;*/
}

.telegram_link,
.viber_link,
.phone_link_icon,
.whatsup_link {
  text-decoration: none;
}

.telegram_icon,
.viber_icon,
.phone_icon {
  margin-right: 28px;
}

.telegram_icon {
  margin-left: 30px;
}

.telephone-item,
.email-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-left: 10px;
  color: var(--wrapper-color);
  opacity: 0.5;
}

.fb_icon,
.linkedin_icon {
  margin-left: 10px;
  width: 25px;
  height: 25px;
  text-decoration: none;
}

.linkedin_link,
.facebook_link {
  text-decoration: none;
}
