* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #e5e5e5;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sidebar {
  background: #1e2939;
  width: 370px;
  height: 1000px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.my-photo {
  width: 370px;
  height: 300px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.about-me-container {
  padding: 110px 90px;
}

.contacts-container,
.soft-skill-container,
.tech-skill-container {
  margin-top: 60px;
  margin-right: 40px;
  margin-left: 40px;
  color: #fff;
}

.contacts-title {
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  margin-bottom: 20px;
}

.telephone-item,
.email-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding-left: 10px;
  color: #fff;
  opacity: 0.5;
}

.conctacts-link-type {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

.tech-skill-item {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fb6d3a;
  margin-left: 15px;
}

.tech-skill-text {
  color: #fff;
}
.profession {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 23px;
}

.name {
  font-weight: bold;
  font-size: 45px;
  line-height: 90px;
  margin-bottom: 25px;
}

.description {
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-top: 25px;
}

.info-container {
  margin-bottom: 30px;
}

.about-me-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  margin-bottom: 10px;
}

.projects-link,
.tech-name {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.project-item {
  font-weight: 700;
  margin-left: 20px;
}

.project-container {
  margin-bottom: 45px;
}

.profession-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.profession-company {
  color: #fb6d3a;
}

.profession-time {
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  color: #706a6a;
}

.profession-duties {
  margin-top: 15px;
  margin-bottom: 30px;
}

.profession-duties-title {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.dots {
  color: #bebebe;
  font-weight: 100;
}

.institute {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin-top: 15px;
  margin-bottom: 15px;
}

.facultet {
  margin-bottom: 5px;
}
